/* Classes de utilidade para cada fonte */
.font-roboto { font-family: 'Roboto', sans-serif !important; }
.font-raleway { font-family: 'Raleway', sans-serif !important; }
.font-poppins { font-family: 'Poppins', sans-serif !important; }
.font-nunito { font-family: 'Nunito', sans-serif !important; }
.font-merriweather { font-family: 'Merriweather', serif !important; }
.font-dosis { font-family: 'Dosis', sans-serif !important; } 